<div class="vocanew-about-contents">
  <h2>ぼかにゅーとは？</h2>
  <p>毎日、ニコニコ動画に投稿されるVOCALOIDオリジナル曲をいち早く捕捉するVOCALOID新曲チェックサイトです。</p>

  <p>
    ニコニコ動画での新着動画、及びタグ検索からピックアップしており、新着動画は10分、タグ検索は1時間毎という間隔で新曲をチェックに行きます。またニコニコ動画側の更新時間によっては、ぼかにゅーに掲載されるまでに最大で1時間ほどのラグが出る場合があります
  </p>

  <div class="panel panel-default">
    <div class="panel-heading">対象曲</div>
    <div class="panel-body">
      <p>VOCALOIDを使用した楽曲のうち、次に該当するもの</p>
      <ul>
        <li>投稿者オリジナルの楽曲</li>
        <li>オリジナル楽曲のカバー、またはアレンジ</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">除外曲</div>
    <div class="panel-body">
      <p>VOCALOIDを使用していない曲、及び次に該当するもの</p>
      <ul>
        <li>VOCALOIDオリジナル楽曲でないもの</li>
        <li>再生時間が1分以下のもの</li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">新曲の並び順</div>
    <div class="panel-body">
      <p>ニコニコ動画の新着動画、またはタグ検索に表示されるようになった順です。投稿日時順ではありません。</p>
      <p>ぼかにゅーは新曲のチェック方式として新着動画によるものをメインに、新着動画でチェックできなかったものをタグ検索で補完するという方式です。</p>
      <p>タグ検索のみでチェックする場合、ニコニコ動画のタグ検索の更新間隔が約1時間なのでその間隔でしか新曲をチェック、更新できません。また、昨日投稿した動画が今日になってタグ検索に載るという事があります。その場合、タグ検索を「投稿が新しい順」で表示すると2ページ目に載ってしまったりします。</p>
      <p>ぼかにゅーでも投稿時間順に並べると同じ事が起こります。これは掲載された曲を全てチェックしていても、知らないうちに2ページ目(またはそれ以降のページ)にチェックしていない曲が混じるという事になります。これでは新曲チェッカーとしては不十分なので、ぼかにゅーでは前述のような「表示されるようになった順」で並べています。</p>
    </div>
  </div>
</div>
<!-- /.vocanew-about-contents -->
