<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="ニコニコ動画からVOCALOIDの新曲をいち早くピックアップするボカロ好きの為のサイトです。">
  <meta name="keywords" content="ぼかにゅー,Vocanew,VOCALOID,ボーカロイド,ボカロ,初音ミク,新曲">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">
  <title>ぼかにゅー - VOCALOID新曲チェッカー</title>
  <link href="/newsong?rss=2.0" title="ぼかにゅー RSS2.0" rel="alternate" type="application/rss+xml">
  <link href="/newsong?rss=atom" title="ぼかにゅー Atom" rel="alternate" type="application/atom+xml">
  <link href="/assets/app.css" rel="stylesheet">
  <script async src="/assets/app.js"></script>
  {{ if isDev }}
    <script src="/assets/holder.js"></script>
  {{ else }}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  {{ end }}
</head>
<body>
<div class="container">
  <div class="row">
    <nav class="navbar vocanew-navbar js-vocanew-collapse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle vocanew-collapse-btn js-vocanew-collapse-btn">
          <span class="icon-bar vocanew-invert"></span>
          <span class="icon-bar vocanew-invert"></span>
          <span class="icon-bar vocanew-invert"></span>
        </button>
        <b><a href="/" class="navbar-brand vocanew-brand">ＶＯＣＡ−ＮＥＷ</a></b>
      </div>

      <div class="collapse navbar-collapse navbar-right vocanew-navbar-right">
        <a href="/about" class="btn btn-default navbar-btn">ぼかにゅーとは？</a>
      </div>
    </nav>
  </div>
  <!-- End of first .row -->

  <div class="row">
    <div class="col-md-3 vocanew-left-sidebar js-vocanew-collapse">
      <div class="vocanew-rectangle-ads hidden-xs">
        {{ if isDev }}
        <img src="holder.js/300x250" style="display:block;">
        {{ else }}
        <!-- vocanew head rectangle -->
        <ins class="adsbygoogle"
          style="display:inline-block;width:300px;height:250px"
          data-ad-client="ca-pub-6031962427645676"
          data-ad-slot="9662521943"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {{ end }}
      </div>

      <div class="list-group vocanew-vocaloid-list-group">
        <a class="list-group-item vocanew-vocaloid-list-item vocaloid{{ if not $.SelectedKeys }} vocanew-active{{ end }}" href="/"><span>VOCALOID</span><div><span>VOCALOID</span></div></a>
        {{ range $.Vocaloids }}
          <a class="list-group-item vocanew-vocaloid-list-item {{ .Key }}{{ if in $.SelectedKeys .Key }} vocanew-active{{ end }}" href="/?{{ .Key }}"><span>{{ .Name }}</span><div><span>{{ .Name }}</span></div></a>
        {{ end }}
      </div>

      <div class="vocanew-rectangle-ads hidden-xs">
        {{ if isDev }}
        <img src="holder.js/300x250" style="display:block;">
        {{ else }}
        <iframe src="http://rcm-fe.amazon-adsystem.com/e/cm?t=vocanew01b6-22&o=9&p=12&l=ur1&category=hobby&banner=0R3N5VFRCBCVH3D7ZP02&f=ifr" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
        {{ end }}
      </div>

      <div class="vocanew-rectangle-ads hidden-xs">
        {{ if isDev }}
        <img src="holder.js/300x250" style="display:block;">
        {{ else }}
        <!-- vocanew side bottom regtangle -->
        <ins class="adsbygoogle"
          style="display:inline-block;width:300px;height:250px"
          data-ad-client="ca-pub-6031962427645676"
          data-ad-slot="4115515946"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {{ end }}
      </div>
    </div>

    <div class="col-md-12 vocanew-main-container js-vocanew-collapse">
      <div class="container vocanew-container">
        {{ yield . }}
      </div>
    </div>
    <!-- End of .vocanew-main-container -->
  </div>
  <!-- End of second .row -->

  <div class="row">
    <div class="col-md-12 text-center">
      <div class="vocanew-big-banner">
        {{ if isDev }}
        <img src="holder.js/320x50" class="visible-xs">
        <img src="holder.js/728x90" class="visible-lg">
        {{ else }}
        <style>
          .vocanew-bottom-responsive { width: 320px; height: 50px; }
          @media(min-width: 500px) { .vocanew-bottom-responsive { width: 468px; height: 60px; } }
          @media(min-width: 800px) { .vocanew-bottom-responsive { width: 728px; height: 90px; } }
        </style>
        <!-- vocanew bottom responsive -->
        <ins class="adsbygoogle vocanew-bottom-responsive"
          style="display:inline-block"
          data-ad-client="ca-pub-6031962427645676"
          data-ad-slot="3336786744"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {{ end }}
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="row">
    <div class="col-md-12">
      <footer class="vocanew-footer">
        <div>Created by <a href="http://www.kuune.org/" target="_blank">naoina</a></div>
      </footer>
    </div>
  </div>
  <!-- End of forth .row (footer) -->
</div>
<!-- End of div.container -->
{{ if not isDev }}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29371140-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{{ end }}
</body>
</html>
